header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav a {
  color: white !important;
  font-size: medium;
}

nav a:hover {
  color: #4285f4 !important;
}

.active {
  color: black !important;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#top video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.5);
  overflow: hidden;
}

.bg-video {
  object-fit: cover;
}

#top > .container {
  padding-top: 35vh;
}

#top > .container .main {
  width: 20px;
  text-transform: uppercase;
  color: white;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

#top .btn {
  margin-top: 15px;
  border-radius: 0%;
}
.typewriter {
  height: auto;
  margin-top: -25px;
  padding: 0;
  text-transform: uppercase;
  color: white;
  font-size: 5rem;
  font-weight: 700;
}

.frame {
  padding: 90px 80px;
  z-index: 1;
}

#about {
  background-color: #4285f4;
}

.container1 {
  background-color: white;
  margin: 0 auto;
  position: relative;
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  z-index: 3;
}

.container1 > .row {
  height: 70vh;
}

#about .row .img {
  margin: 50px 50px 50px 60px;
  background: url("img/about.jpg") no-repeat;
  background-size: auto 100%;
  overflow: hidden;
}

#about .row .intro {
  padding: 50px 65px 50px 0;
}

/* contact section */
#contact {
  background-color: #42043d;
}

#info,
#form {
  /* border: 4px solid #42043d; */
  border-radius: 3px;
  box-shadow: 0px 20px 60px 5px #42043d86;
  padding: 1.5rem 5rem;
}

#info {
  margin: 45px 30px 0px 60px;
  position: relative;
  z-index: 100;
}

#info h2,
#form h2 {
  font-size: 20px;
  margin-bottom: 40px;
}

#info a {
  font-size: 20px;
  margin-right: 5px;
  margin-top: 3px;
  text-decoration: none;
  color: rgb(71, 71, 71);
}

#form {
  margin: 45px 60px 0 30px;
}

#form input[type="submit"] {
  background-color: #42043d !important;
  color: white;
}

#form input[type="submit"]:hover {
  background-color: #79056f !important;
}

.sectionBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background: white;
  z-index: 1;
}

#footer {
  background-color: darkolivegreen;
  padding: 80px 0 30px 0;
}

#footer ul > li {
  color: white;
  list-style: none;
  text-decoration: none;
  margin-bottom: 10px;
}

#footer ul > li > a {
  text-decoration: none;
}

#subscribe h4 {
  font-size: 18px;
  font-weight: normal;
  color: white;
}

#subscribe input[type="email"] {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 80%;
  height: 38px;
  margin-bottom: 10px;
}

#subscribe p {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 15px;
}

/* testimonials */

#testimonial {
  background-image: linear-gradient(
    to bottom right,
    rgb(59, 2, 50),
    rgb(243, 113, 237)
  );
  overflow: hidden;
}

/* Owl Carousel - Testimonial Section */

#testimonial h2 {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
}

#testimonial .owl-stage {
  position: relative;
  margin-top: 28vh;
}

#testimonial .owl-stage-outer {
  padding: 30px 0;
}
#testimonial .owl-nav {
  display: none;
}
#testimonial .owl-dots {
  text-align: center;
}
#testimonial .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid rgb(243, 63, 216);
  margin: 0 5px;
}
#testimonial .owl-dots .active {
  box-shadow: none;
}
#testimonial .owl-dots .active span {
  background: rgb(59, 2, 50);
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
#testimonial .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px rgb(102, 2, 87);
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
#testimonial .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}

#testimonial .card h5 {
  color: #01b0f8;
  font-size: 21px;
  line-height: 1.3;
}

#testimonial .card h5 span {
  font-size: 18px;
  color: #666666;
}

#testimonial .card p {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}

#testimonial .active {
  opacity: 0.5;
  transition: all 0.3s;
}
#testimonial .center {
  opacity: 1;
}
#testimonial .center h5 {
  font-size: 24px;
}
#testimonial .center h5 span {
  font-size: 20px;
}
#testimonial .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  outline: 0;
}

/* Donate Section */

#donate {
  background-image: linear-gradient(
    to bottom right,
    rgb(99, 46, 3),
    rgb(247, 82, 238)
  );
}

#donation {
  margin-top: 20vh;
  color: rgb(99, 46, 3);
}

#donation h3 {
  text-transform: uppercase;
}

#donation a {
  margin: 40px 0 20px 0;
  border-radius: 0;
  background-color: rgb(134, 4, 128);
  color: white;
  font-size: 20px;
  font-weight: normal !important;
}

#donation a:hover {
  background-color: rgb(241, 52, 232);
}

.donation-detail {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}

/* Our Work */

#work {
  background-color: khaki;
  padding: 130px 100px 0 100px;
  overflow: hidden;
}

#work .carousel {
  width: 80%;
  margin: 0 auto;
  box-shadow: 8px 30px 50px 0.2px #5e5e5f;
  border: 1.5px solid #bdb2ff;
  outline: 0.8rem solid #6c52ff;
  outline-offset: 1.2rem;
}

#work .carousel-inner img {
  height: 450px;
  filter: brightness(0.4);
}

#work .carousel-caption {
  position: absolute;
  top: 80px;
  left: 0;
  padding: 30px;
  width: 50%;
}

#work .carousel-caption h2 {
  font-size: 40px;
}

#work .carousel-caption p {
}
